In [6]:
import pandas as pd

####Import Data

In [7]:
hospice_df = pd.read_csv ('data/Hospice_General_Information.csv')
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
0,11500,BAPTIST HOSPICE,301 INTERSTATE PARK,NaN,MONTGOMERY,AL,36109,Montgomery,(334) 395-5000,4,Other,03/23/1984
1,11501,SOUTHERNCARE NEW BEACON N. BIRMINGHAM,"4735 NORREL DRIVE, SUITE 129",NaN,TRUSSVILLE,AL,35173,Jefferson,(205) 939-8799,4,For-Profit,05/24/1984

In [8]:
hospice_df = hospice_df.loc[hospice_df.State=='TN']
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [9]:
hospice_df.columns = ['ccn', 'facility', 'address', 'address2', 'city', 'state', 'zip', 'county', 'phone', 'region', 'owner_type', 'cart_date']

In [10]:
hospice_df.drop (columns =['ccn', 'address2', 'zip', 'phone'], inplace = True)
hospice_df.head(2)

,facility,address,city,state,county,region,owner_type,cart_date
2889,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NASHVILLE,TN,Davidson,4,Non-Profit,04/10/1984
2890,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",MEMPHIS,TN,Shelby,4,Non-Profit,08/31/1984

In [11]:
print('top:', hospice_df.head())
print('---------------------')
print('bottom:', hospice_df_tail())

top:                                 facility                            address  \
2889                   ALIVE HOSPICE INC                1718 PATTERSON ROAD
2890          METHODIST ALLIANCE HOSPICE  6400 SHELBY VIEW DRIVE, SUITE 101
2891          HOSPICE OF CHATTANOOGA INC                 4411 OAKWOOD DRIVE
2892               AMEDISYS HOSPICE CARE          6570 STAGE ROAD SUITE 110
2893  NORTHCREST HOME HEALTH AND HOSPICE               212 NORTHCREST DRIVE

             city state     county  region  owner_type   cart_date
2889    NASHVILLE    TN   Davidson       4  Non-Profit  04/10/1984
2890      MEMPHIS    TN     Shelby       4  Non-Profit  08/31/1984
2891  CHATTANOOGA    TN   Hamilton       4  Non-Profit  06/30/1986
2892     BARTLETT    TN     Shelby       4  For-Profit  02/09/1987
2893  SPRINGFIELD    TN  Robertson       4       Other  07/13/1987
---------------------

NameError: name 'hospice_df_tail' is not defined

In [12]:
hospice_df.shape

(56, 8)

In [15]:
cancer_df = pd.read_csv ('data/cancer_deaths.csv', skiprows=4, nrows=97)
cancer_df.head()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

In [20]:
cancer_df.columns = ['county', 'fips', 'healthy_people_objective', 'age_adj_death_rate', 'lower95_confint', 'upper95_confint', 'avg_annual_count', 'recent_trend','5year_death_trend','lower95_confint1','upper95_confint2']
cancer_df.head()

,county,fips,healthy_people_objective,age_adj_death_rate,lower95_confint,upper95_confint,avg_annual_count,recent_trend,5year_death_trend,lower95_confint1,upper95_confint2
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

In [21]:
cancer_df.shape

(97, 11)

In [27]:
pop_df = pd.read_csv ('data/PEP_2017_PEPAGESEX.csv')
pop_df.head()
pop_df.tail()

,GEO.id,GEO.id2,GEO.display-label,cen42010sex0_age999,cen42010sex1_age999,cen42010sex2_age999,est42010sex0_age999,est42010sex1_age999,est42010sex2_age999,est72010sex0_age999,...,est72014sex2_medage,est72015sex0_medage,est72015sex1_medage,est72015sex2_medage,est72016sex0_medage,est72016sex1_medage,est72016sex2_medage,est72017sex0_medage,est72017sex1_medage,est72017sex2_medage
91,0500000US47181,47181,"Wayne County, Tennessee",17021,9402,7619,17027,9404,7623,16987,...,45.8,42.6,39.8,46.5,42.7,39.9,46.7,43.1,40.0,47.4
92,0500000US47183,47183,"Weakley County, Tennessee",35021,17159,17862,35015,17157,17858,35042,...,39.2,37.6,36.0,39.2,37.9,36.2,39.6,38.3,36.6,40.1
93,0500000US47185,47185,"White County, Tennessee",25841,12640,13201,25836,12637,13199,25821,...,44.0,42.7,41.0,44.2,42.8,41.2,44.3,42.8,41.3,44.4
94,0500000US47187,47187,"Williamson County, Tennessee",183182,89336,93846,183252,89371,93881,184130,...,39.7,39.0,38.2,39.7,39.0,38.3,39.7,39.0,38.3,39.7
95,0500000US47189,47189,"Wilson County, Tennessee",113993,55834,58159,114057,55863,58194,114677,...,41.1,40.2,39.2,41.1,40.0,39.0,40.9,39.9,39.0,40.8

In [26]:
pop_df.shape

(96, 993)